<!-- toolbar -->
<div class="toolbar" role="banner">
<img src="./assets/Nu3-logo@2x_1.png" alt="Logo" class="logo">
</div>

<div class="outer">
  <div class="container">
      <div class="row">
          <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
              <div class="panel border bg-white">
                  <div class="panel-heading">
                      <h3 class="pt-3 font-weight-bold">Inicio Sesion</h3>
                  </div>
                  <div class="panel-body p-3">
                      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')"> <span class="fa fa-user p-2"></span> <input formControlName="username" type="text" placeholder="Usuario" required> </div>
                          </div>
                          <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">*Se requiere usuario*</small>
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"> <span class="fa fa-lock px-2"></span> <input formControlName="password" [type]="type" placeholder="Contraseña"> <button type="button" (click)="hideShowPass()" class="bg-white text-muted"> <span class="fa {{eyeIcon}}"></span> </button>                                    </div>
                          </div>
                          <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Se requiere contraseña*</small>

                          <button  type="submit" class="btn btn-primary btn-block mt-4 w-100" >Iniciar Sesion</button>

                      </form>
                  </div>
                  <div class="mx-3 my-2 py-2 bordert">
                      <div class="text-center py-3">
                      </div> 
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
