


.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #92002d;
  color: white;
  font-weight: 600;
}

.logo {
  width: 60px; /* Ajusta el ancho de tu imagen */
  height: auto;/* Mantén la proporción original */
  margin-left: 3%;

}



.logo2 {
  width: 6%; /* Ajusta el ancho de tu imagen */
  height: auto;/* Mantén la proporción original */
  margin-left: 37%;

}


.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

button {
  background-color: #92002d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-family: Arial;
  padding: 0.5rem 1rem;
  width: 200px;
  margin: 0 auto;


}
