/* Estilos para hacer el formulario responsivo */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #b1b1b1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
<<<<<<< HEAD
  
  .form-group {
    margin-bottom: 30px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #929292;
    border-radius: 4px;
  }
  
  button {
    background-color: #92002d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
=======

<<<<<<< HEAD

=======
>>>>>>> d06b5fdd567813322c928e2ab39ab295f9e50822
>>>>>>> 5992a41cf3c78ef089f15118692854cb228431da
