.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #92002d;
  color: white;
  font-weight: 600;
}

.logo {
  width: 60px; /* Ajusta el ancho de tu imagen */
  height: auto;/* Mantén la proporción original */
  margin-left: 3%;

}

.container {
  display: flex;
  justify-content: center;
  /* Centrado horizontal */
  align-items: center;
  /* Centrado vertical */
  height: 88vh;
  /* Altura del 100% de la ventana gráfica */
}

.container2 {
  display: flex;
  justify-content: center;
  /* Centrado horizontal */
  align-items: center;
  /* Centrado vertical */
  height: 38vh;
  /* Altura del 100% de la ventana gráfica */
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  /* Espacio entre tarjetas */
}

.card {
  text-align: center;
  display: flex;
  /* Utilizar flexbox para centrar elemento */
  flex-direction: column;
  /* Alinear elementos en columna */
  align-items: center;
  /* Centrar elementos horizontalmente */
  justify-content: center;
  /* Centrar elementos verticalmente */
  flex: 0 0 calc(50% - 20px);
  /* 2 tarjetas por fila en dispositivos medianos y más grandes */
  max-width: calc(70% - 50px);
  width: 200px;
  /* Ajusta el ancho de acuerdo a tus necesidades */
  height: 350px;
  /* Ajusta el largo de acuerdo a tus necesidades */
  padding: 20px;
  /* Ajusta el espaciado interno de la tarjeta según tus necesidades */
  border-radius: 8px;
  /* Opcional: agrega bordes redondeados */
  background-color: #faf8f8;
  /* Opcional: cambia el color de fondo de la tarjeta */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* Agrega la sombra a la tarjeta */
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:hover {
  /* Estilos cuando el mouse está sobre el card */
  transform: scale(1.1);
  /* Aumenta el tamaño del card al 110% */
}

.card img {
  width: 200px;
  /* ancho */
  height: 200px;
  /* largo */
}

.btn {
  color: white;
  background-color: #92002d;
  width: 150px;
  /* Cambia el ancho según tus necesidades */
  height: 40px;
  /* Cambia la altura según tus necesidades */
  font-size: 24px;
  text-align: center;
  padding: 10px 20px;
  line-height: 12px;
}

/* Estilos para pantallas pequeñas (menos de 768px de ancho) */
@media (max-width: 767px) {
  .toolbar {
    height: 40px; /* Reduce la altura de la barra de herramientas */
    font-size: 14px; /* Reduce el tamaño de fuente para el texto */
  }

  .container {
 
   height: 76vh; /* Reduce la altura del contenedor */
    justify-content: center;
    text-align: left;
    align-items: center;
  }
}