/* Estilos para pantallas grandes */
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #92002d;
    color: white;
    font-weight: 600;
  }

  .logo {
    width: 50px; /* Ajusta el ancho de tu imagen */
    height: auto; /* Mantén la proporción original */
    margin-left: 2vh; /* Margen izquierdo automático */
    margin-right: auto; /* Margen derecho automático */
    display: block; /* Para que los márgenes automáticos funcionen correctamente */
}

  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
  }

  .btn {
    color: white;
    background-color: #92002d;
    width: 250px;
    /* Cambia el ancho según tus necesidades */
    height: 50px;
    /* Cambia la altura según tus necesidades */
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    line-height: 12px;
  }
  
  /* Estilos para pantallas pequeñas (menos de 768px de ancho) */
  @media (max-width: 767px) {
    .toolbar {
      height: 40px; /* Reduce la altura de la barra de herramientas */
      font-size: 14px; /* Reduce el tamaño de fuente para el texto */
    }
  
    .logo {
      width: 40px; /* Ajusta el ancho de tu imagen */
      height: 40px; /* Mantén la proporción original */
      margin-left: 2vh; /* Margen izquierdo automático */
      margin-right: auto; /* Margen derecho automático */
      display: block; /* Para que los márgenes automáticos funcionen correctamente */
  }
  
    .container {
      height: 80vh; /* Reduce la altura del contenedor */
      justify-content: center;
      text-align: left;
      align-items: center;
    }
  }

  /* Establece el ancho y alto deseado para el input de fecha */
.custom-date-input {
  width: 200px; /* Cambia el ancho según tus necesidades */
  height: 40px; /* Cambia la altura según tus necesidades */
  /* Puedes ajustar otros estilos según tus preferencias */
}
