<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.js"></script>
<!-- jQuery library -->
<script src="js/jquery.min.js"></script>
<!-- jsPDF library -->
<script src="js/jsPDF/dist/jspdf.min.js"></script>


<!-- toolbar -->
<div class="toolbar" role="banner">
    <img src="./assets/Nu3-logo@2x_1.png" alt="Logo" class="logo">
  </div>


<!-- Contenedor principal -->
<div class="container mt-4">
    <div class="row">

        <!-- Col 1 -->
        <div class="col-md-4 col-sm-12 mt-2">
        </div>
        <div class="col-4 text-center">
            <h2><strong>Pruebas pdf y xls</strong></h2>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
        </div>

        <!-- col 2 -->
        <div class="col-md-4 col-sm-12 mt-2">
            <label for="selectBox text"><strong>Empresa:</strong></label>
        </div>
        <div class="col-md-8 col-sm-12 mt-2">
            <select class="form-select" aria-label="Default select example">
                <option selected>- - Selección - -</option>
                <option value="Op1-Empresa">Op 1</option>
                <option value="Op2-Empresa">Op 2</option>
                <option value="Op3-Empresa">Op 3</option>
                <option value="Op4-Empresa">Op 4</option>
                <option value="Op5-Empresa">Op 5</option>
                <option value="Op6-Empresa">Op 6</option>
                <option value="Op7-Empresa">Op 7</option>
                <option value="Op8-Empresa">Op 8</option>
                <option value="Op9-Empresa">Op 9</option>
                <option value="Op10-Empresa">Op 10</option>
                <option value="Op11-Empresa">Op 11</option>
                <option value="Op12-Empresa">Op 12</option>
                <option value="Op13-Empresa">Op 13</option>
                <option value="Op14-Empresa">Op 14</option>
                <option value="Op15-Empresa">Op 15</option>
                <option value="Op16-Empresa">Op 16</option>
                <option value="Op17-Empresa">Op 17</option>
                <option value="Op18-Empresa">Op 18</option>
                <option value="Op19-Empresa">Op 19</option>
                <option value="Op20-Empresa">Op 20</option>
            </select>
        </div>

        <!-- col 3 -->
        <div class="col-md-4 col-sm-12 mt-2">
            <label for="selectBox text"><strong>Granja:</strong></label>
        </div>
        <div class="col-md-8 col-sm-12 mt-2">
            <select class="form-select" aria-label="Default select example">
                <option selected>- - Selección - -</option>
                <option value="Op1-Granja">Op 1</option>
                <option value="Op2-Granja">Op 2</option>
                <option value="Op3-Granja">Op 3</option>
                <option value="Op4-Granja">Op 4</option>
                <option value="Op5-Granja">Op 5</option>
                <option value="Op6-Granja">Op 6</option>
                <option value="Op7-Granja">Op 7</option>
                <option value="Op8-Granja">Op 8</option>
                <option value="Op9-Granja">Op 9</option>
                <option value="Op10-Granja">Op 10</option>
                <option value="Op11-Granja">Op 11</option>
                <option value="Op12-Granja">Op 12</option>
                <option value="Op13-Granja">Op 13</option>
                <option value="Op14-Granja">Op 14</option>
                <option value="Op15-Granja">Op 15</option>
                <option value="Op16-Granja">Op 16</option>
                <option value="Op17-Granja">Op 17</option>
                <option value="Op18-Granja">Op 18</option>
                <option value="Op19-Granja">Op 19</option>
                <option value="Op20-Granja">Op 20</option>
            </select>
        </div>

        <!-- col 4 -->
        <div class="col-md-4 col-sm-12 mt-2">
            <label for="selectBox text"><strong>Fechas de entrada:</strong></label>
        </div>

        <div class="col-md-8 col-sm-12 mt-2">
            <input type="date" class="custom-date-input" />
        </div>

        <!-- col 5 -->
        <div class="col-md-4 col-sm-12 mt-2">
            <label for="selectBox text"><strong>Fechas de salida:</strong></label>
        </div>

        <div class="col-md-8 col-sm-12 mt-2">
            <input type="date" class="custom-date-input" />
        </div>

        <!-- col 6 -->
        <div class="col-md-12 col-sm-12 mt-2">
        </div>

        <!-- col 7 -->
        <div class="col-md-4 col-sm-12 mt-2">
            <button type="button" class="btn btn-primary" (click)="generarPDF()">PDF</button>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
            <button type="button" class="btn btn-primary" (click)="exportToExcel()">XLS</button>
        </div>

        <!-- col 8 -->
        <div class="col-md-4 col-sm-12 mt-2">
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
            <div>
                <table id="inv-tble">
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Tipo</th>
                  </tr>
                  <tr *ngFor="let inventario of Inventario">
                    <td>{{ inventario.id }}</td>
                    <td>{{ inventario.name }}</td>
                    <td>{{ inventario.tipo }}</td>
                  </tr>
                </table>
              </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
        </div>

    </div>










</div>